Repository baharudin-yusup/nx-workspace-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.yml:

# .lintstagedrc.yml

# Files matching the pattern will be processed
'*.{js,jsx,ts,tsx}':
  - eslint --fix --quiet # Fix errors but allow warnings
  - prettier --write # Fix formatting issues

'*.json':
  - prettier --write # Fix formatting issues

'*.{md,mdx,css,scss,astro,yaml,yml}':
  - prettier --write # Fix formatting issues

Added environment files in .gitignore
  .gitignore
Due: none

Fixed Permission denied linux scripts
  scripts/platform-runner.js
Due: eslint --fix --quiet, prettier --write

Updated dev dependencies
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Update README.md
  README.md
Due: prettier --write
